@tailwind base;
@tailwind components;
@tailwind utilities;

.navigation ul {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.navigation ul li {
  margin: 0 15px;
  color: rgb(145, 145, 145);
}
.navigation ul li:first-child,
.navigation ul li:last-child {
  color: blue;
}
.navigation .disabled {
  color: rgb(206, 206, 206) !important;
}
.navigation .selected {
  color: black;
}
